# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.venv
venv
env

# Data
*.parquet
/data

# Kubernetes
kubernetes/
argocd/

# Documentation
README.md
LICENSE
*.md

# CI/CD
.github