apiVersion: v1
kind: Service
metadata:
  name: kafka-headless
  namespace: bluesky
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  clusterIP: None
  selector:
    app: kafka
  ports:
  - name: kafka
    port: 9092
    targetPort: 9092
  - name: controller
    port: 9093
    targetPort: 9093
---
apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: bluesky
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  type: ClusterIP
  selector:
    app: kafka
  ports:
  - name: kafka
    port: 9092
    targetPort: 9092