apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: kafka
  namespace: bluesky
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  serviceName: kafka-headless
  replicas: 3
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            preference:
              matchExpressions:
              - key: gpu
                operator: DoesNotExist
      containers:
      - name: kafka
        image: apache/kafka:4.1.1
        env:
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: KAFKA_NODE_ID
            valueFrom:
              fieldRef:
                fieldPath: metadata.labels['apps.kubernetes.io/pod-index']
          - name: KAFKA_PROCESS_ROLES
            value: "broker,controller"
          - name: KAFKA_CONTROLLER_QUORUM_VOTERS
            value: "0@kafka-0.kafka-headless.bluesky.svc.cluster.local:9093,1@kafka-1.kafka-headless.bluesky.svc.cluster.local:9093,2@kafka-2.kafka-headless.bluesky.svc.cluster.local:9093"
          - name: KAFKA_LISTENERS
            value: "PLAINTEXT://:9092,CONTROLLER://:9093"
          #- name: KAFKA_ADVERTISED_LISTENERS
          #  value: "PLAINTEXT://$(POD_NAME).kafka-headless.bluesky.svc.cluster.local:9092"
          - name: KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
            value: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
          - name: KAFKA_CONTROLLER_LISTENER_NAMES
            value: "CONTROLLER"
          - name: KAFKA_INTER_BROKER_LISTENER_NAME
            value: "PLAINTEXT"
          - name: KAFKA_LOG_DIRS
            value: "/var/lib/kafka/data"
          - name: CLUSTER_ID
            value: "bluesky-kafka-cluster"
          - name: KAFKA_HEAP_OPTS
            value: "-Xmx1G -Xms1G"
        ports:
        - containerPort: 9092
          name: kafka
        - containerPort: 9093
          name: controller
        volumeMounts:
        - name: datadir
          mountPath: /var/lib/kafka/data
        resources:
          requests:
            cpu: 1000m
            memory: 2Gi
          limits:
            cpu: 2000m
            memory: 4Gi
        livenessProbe:
          tcpSocket:
            port: 9092
          initialDelaySeconds: 60
          periodSeconds: 10
        readinessProbe:
          tcpSocket:
            port: 9092
          initialDelaySeconds: 30
          periodSeconds: 5
  volumeClaimTemplates:
  - metadata:
      name: datadir
    spec:
      accessModes: ["ReadWriteOnce"]
      storageClassName: minio-nfs
      resources:
        requests:
          storage: 20Gi